# SECTION 1: SETTING UP DB

## Making password secret

In [8]:
# Using the configparser module to keep my password secret and instead assign it to a variable
import configparser

config = configparser.ConfigParser()
config.read('config.ini')

password = config.get('mysql', 'password')

## Establishing the connection to MySQL

In [9]:
#import sql connector module and establish the connection
import mysql.connector as connector

connection = connector.connect(user='root', password=password)

In [10]:
#Create cursor
cursor = connection.cursor()

## Creating and using the database

In [11]:
# Create MySQL DB
cursor.execute('CREATE DATABASE little_lemon_db')

In [12]:
# Use DB
cursor.execute('USE little_lemon_db')

In [21]:
# Create tables in the MySQL DB

create_menuitem_table = '''CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);'''

create_menu_table = '''CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);'''

create_booking_table = '''CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);'''

create_orders_table = '''CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);'''

create_employees_table = '''CREATE TABLE Employees (
EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
Name VARCHAR(255),
Role VARCHAR(255),
Address VARCHAR(255),
Contact_Number INT,
Email VARCHAR(255),
Annual_Salary VARCHAR(255)
);'''


# Create MenuItems table
cursor.execute(create_menuitem_table)

# Create Menu table
cursor.execute(create_menu_table)

# Create Bookings table
cursor.execute(create_booking_table)

# Create Orders table
cursor.execute(create_orders_table)

# Create Employees table
cursor.execute(create_employees_table)

In [23]:
# Fill tables with data

#*******************************************************#
# Insert query to populate "MenuItems" table:
#*******************************************************#
insert_menuitems='''
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1, 'Olives','Starters',5),
(2, 'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10, 'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);'''

#*******************************************************#
# Insert query to populate "Menu" table:
#*******************************************************#
insert_menu='''
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');'''

#*******************************************************#
# Insert query to populate "Bookings" table:
#*******************************************************#
insert_bookings='''
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1, 12, 'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);'''

#*******************************************************#
# Insert query to populate "Orders" table:
#*******************************************************#
insert_orders='''
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);'''

#*******************************************************#
# Insert query to populate "Employees" table:
#*******************************************************#
insert_employees = '''
INSERT INTO employees (EmployeeID, Name, Role, Address, Contact_Number, Email, Annual_Salary)
VALUES 
(01, 'Mario Gollini', 'Manager', '724 Parsley Lane, Old Town, Chicago, IL', 351258074, 'Mario.g@littlelemon.com', '$70,000'),
(02, 'Adrian Gollini', 'Assistant Manager', '334 Dill Square, Lincoln Park, Chicago, IL', 351474048, 'Adrian.g@littlelemon.com', '$65,000'),
(03, 'Giorgos Dioudis', 'Head Chef', '879 Sage Street, West Loop, Chicago, IL', 351970582, 'Giorgos.d@littlelemon.com', '$50,000'),
(04, 'Fatma Kaya', 'Assistant Chef', '132 Bay Lane, Chicago, IL', 351963569, 'Fatma.k@littlelemon.com', '$45,000'),
(05, 'Elena Salvai', 'Head Waiter', '989 Thyme Square, EdgeWater, Chicago, IL', 351074198, 'Elena.s@littlelemon.com', '$40,000'),
(06, 'John Millar', 'Receptionist', '245 Dill Square, Lincoln Park, Chicago, IL', 351584508, 'John.m@littlelemon.com', '$35,000');
'''

# Populate MenuItems table
cursor.execute(insert_menuitems)
connection.commit()

# Populate MenuItems table
cursor.execute(insert_menu)
connection.commit()

# Populate Bookings table
cursor.execute(insert_bookings)
connection.commit()

Populate Orders table
cursor.execute(insert_orders)
connection.commit()

# Populate Employees table
cursor.execute(insert_employees)
connection.commit()

## Creating connection pools and stored procedures

In [25]:
# Import the connection pooling and errors module
from mysql.connector.pooling import MySQLConnectionPool, Error

In [31]:
# Example of how to establish that the connection works
pool = MySQLConnectionPool(pool_name='pool_a', pool_size=2, database='little_lemon_db', user='root', password=password)

try:
    for i in range(pool.pool_size):    
        connection = pool.get_connection()
        if connection.is_connected():
            cursor = connection.cursor()
            print('Connection {} Successful'.format(i + 1))
        else:
            print('No live connection made')
        connection.close()
except Error as e:
    print("Error:", e)

Connection 1 Successful
Connection 2 Successful

In [79]:
# Create stored procedure for peak hours

create_procedure_1_query = '''
CREATE PROCEDURE PeakHours()
BEGIN
    SELECT HOUR(BookingSlot) AS BookingHour, COUNT(*) AS NumBookings
    FROM Bookings
    GROUP BY BookingHour
    ORDER BY NumBookings DESC;
END'''

In [80]:
# Execute the new stored procedure
    
pool = MySQLConnectionPool(pool_name='pool_a', pool_size=2, database='little_lemon_db', user='root', password=password)

try:
    connection = pool.get_connection()
    if connection.is_connected():
        cursor = connection.cursor()
        # Run the PeakHours query
        cursor.execute(create_procedure_1_query)
        cursor.callproc('PeakHours')
        results = next(cursor.stored_results())
        dataset = results.fetchall()
        for column_id in cursor.stored_results():
            columns = [column[0] for column in column_id.description]
        print(columns)
        for data in dataset:
            print(data)
        cursor.close()
        connection.close()
    else:
        print('No live connection made')
except Error as e:
    print("Error:", e)

['BookingHour', 'NumBookings']
(19, 2)
(15, 1)
(17, 1)
(18, 1)
(20, 1)

In [90]:
# Create stored procedure for Guest Status

create_procedure_2_query = '''CREATE PROCEDURE GuestStatus()
BEGIN
    SELECT CONCAT(b.GuestFirstName, ' ', b.GuestLastName) AS GuestName,
        CASE
            WHEN e.Role IN ('Manager', 'Assistant Manager') THEN 'Ready to pay'
            WHEN e.Role = 'Head Chef' THEN 'Ready to serve'
            WHEN e.Role = 'Assistant Chef' THEN 'Preparing Order'
            WHEN e.Role = 'Head Waiter' THEN 'Order served'
        END AS OrderStatus
    FROM Bookings AS b
    LEFT JOIN Employees AS e ON b.EmployeeID = e.EmployeeID;
END;'''

In [91]:
# Execute the new stored procedure

pool = MySQLConnectionPool(pool_name='pool_a', pool_size=2, database='little_lemon_db', user='root', password=password)

try:
    connection = pool.get_connection()
    if connection.is_connected():
        cursor = connection.cursor()
        # Run the GuestStatus query
        cursor.execute(create_procedure_2_query)
        cursor.callproc('GuestStatus')
        results = next(cursor.stored_results())
        dataset = results.fetchall()
        for column_id in cursor.stored_results():
            columns = [column[0] for column in column_id.description]
        print(columns)
        for data in dataset:
            print(data)
        cursor.close()
        connection.close()
    else:
        print('No live connection made')
except Error as e:
    print("Error:", e)

['GuestName', 'OrderStatus']
('Anna Iversen', 'Ready to pay')
('Joakim Iversen', 'Ready to pay')
('Vanessa McCarthy', 'Ready to serve')
('Marcos Romero', 'Preparing Order')
('Hiroki Yamane', 'Ready to pay')
('Diana Pinto', 'Order served')

# SECTION 2: SALES REPORT EXERCISES

## Pool B and Little Lemon Sales Report (task 1 and 2)

In [95]:
# Adding new data and connections to the DB
pool = MySQLConnectionPool(pool_name='pool_b', pool_size=2, database='little_lemon_db', user='root', password=password)
guests = ['Anees', 'Bald', 'Jay']

for guest in guests:
    try:  
        connection = pool.get_connection()
        if connection.is_connected():
            cursor = connection.cursor()
            print('{} is successfully connected'.format(guest))
            new_data_added = '''INSERT INTO Bookings (TableNo, GuestFirstName, 
                                GuestLastName, BookingSlot, EmployeeID)
                                VALUES
                                (8, 'Anees', 'Java', '18:00:00', 6),
                                (5, 'Bald', 'Vin', '19:00:00', 6),
                                (12, 'Jay', 'Kon', '19:30:00', 6)'''
            cursor.execute(new_data_added)
            connection.commit()
        else:
            print('No live connection made')
        connection.close()
    except:
        print('No more connections available - making new connection') 
        connection = connector.connect(user='root', password=password, database='little_lemon_db')
        pool.add_connection(connection)
        print('New connection added to the pool \n')
        print('{} is successfully connected'.format(guest))

Anees is successfully connected
Bald is successfully connected
Jay is successfully connected

## Create a report containing the following information:

The name and EmployeeID of the Little Lemon manager.

The name and role of the employee who receives the highest salary.

The number of guests booked between 18:00 and 20:00.

The full name and BookingID of all guests waiting to be seated with the receptionist in sorted order with respect to their BookingSlot.

In [100]:
# Making connection
connection = connector.connect(user='root', password=password, database='little_lemon_db')
cursor = connection.cursor()

# Selecting the name and EmployeeID of the little lemon manager

query_1 = '''SELECT Name, EmployeeID
            FROM Employees
            WHERE Role = 'Manager';'''

cursor.execute(query_1)
results1 = cursor.fetchall()

# Selecting highest salary

query_2 = '''SELECT Name, Role
            FROM Employees
            ORDER BY Annual_Salary DESC
            LIMIT 1;'''

cursor.execute(query_2)
results2 = cursor.fetchall()

# Guests between 18.00 and 20.00

query_3 = '''SELECT COUNT(BookingID) AS 'Number_of_guests_18.00-20.00'
            FROM Bookings
            WHERE BookingSlot BETWEEN '18:00:00' AND '20:00:00';'''

cursor.execute(query_3)
results3 = cursor.fetchall()

# Guests waiting to be seated (employeeID = 6)

query_4 = '''SELECT CONCAT(GuestFirstName, GuestLastName), BookingID
            FROM Bookings
            WHERE EmployeeID = 6
            ORDER BY BookingSlot ASC;'''

cursor.execute(query_4)
results4 = cursor.fetchall()

print('The little lemon manager: {}\n'.format(results1))
print('The employee with the highest salary: {}\n'.format(results2))
print('Guests booked in between 18:00 and 20:00: {}\n'.format(results3))
print('The guests waiting to be seated: {}\n'.format(results4))

The little lemon manager: [('Mario Gollini', 1)]

The employee with the highest salary: [('Mario Gollini', 'Manager')]

Guests booked in between 18:00 and 20:00: [(22,)]

The guests waiting to be seated: [('AneesJava', 16), ('AneesJava', 19), ('AneesJava', 22), ('AneesJava', 25), ('AneesJava', 28), ('AneesJava', 31), ('BaldVin', 17), ('BaldVin', 20), ('BaldVin', 23), ('BaldVin', 26), ('BaldVin', 29), ('BaldVin', 32), ('JayKon', 18), ('JayKon', 21), ('JayKon', 24), ('JayKon', 27), ('JayKon', 30), ('JayKon', 33)]

## Create a stored procedure named BasicSalesReport that returns the following statistics: 

Total sales

Average sale

Minimum bill paid

Maximum bill paid

In [109]:
connection = connector.connect(user='root', password=password)
cursor = connection.cursor()
cursor.execute('USE little_lemon_db')

create_procedure_3 = '''CREATE PROCEDURE BasicSalesReport()
                        BEGIN
                        SELECT SUM(BillAmount) AS Total_Sales, AVG(BillAmount) AS 'Average_Sale', MAX(BillAmount) AS 'MaximumBill', MIN(BillAmount) AS 'MinimumBill'
                        FROM Orders;
                        END'''

cursor.execute(create_procedure_3)
cursor.callproc('BasicSalesReport')
results = next(cursor.stored_results())
dataset = results.fetchall()

# Define column names
column_names = ['TotalSales', 'AverageSale', 'MaximumSale', 'MinimumSale']

# Print column names and values
print('*Sales Report*')
for i, row in enumerate(dataset):
    
    for j, value in enumerate(row):
        print(column_names[j] + ':', value)

# Close the connection
cursor.close()
connection.close()

*Sales Report*
TotalSales: 243
AverageSale: 48.6000
MaximumSale: 86
MinimumSale: 37

## Little Lemon needs to display the next three upcoming bookings from the Bookings table on the kitchen screen to notify their chefs which orders are due next. To complete this task, carry out the following steps:

Get a connection from the pool.

Create a buffered cursor.

Combine the data from the Bookings and the Employee tables. Sort the retrieved records in ascending order. Then display the information of the first three guests. 

Returned the connection back to the pool.


The output should be as follows:

[BookingSlot]

[Guest_name]

[Assigned to: Employee Name [Employee Role]]

In [119]:
# Get connection
connection = connector.connect(user = 'root', password=password, database = 'little_lemon_db')
# Make buffered cursor
cursor = connection.cursor(buffered=True)
# Make procedure to display three orders
create_procedure_4 = '''CREATE PROCEDURE NextThreeOrders()
                        BEGIN
                        SELECT b.BookingSlot, CONCAT(b.GuestFirstName, ' ', b.GuestLastName) AS 'Guest_name', e.Name, e.Role
                        FROM Bookings AS b
                        INNER JOIN Employees AS e
                        ON b.EmployeeID = e.EmployeeID
                        ORDER BY b.BookingSlot ASC
                        LIMIT 3;
                        END'''
cursor.execute(create_procedure_4)

cursor.callproc('NextThreeOrders')
results2 = next(cursor.stored_results())
dataset2 = results2.fetchall()

for row in dataset2:
    booking_slot = row[0]
    guest_name = row[1]
    employee_name = row[2]
    employee_role = row[3]
    
    
    print(booking_slot)
    print(guest_name)
    print('Assigned to: {} [{}]'.format(employee_name, employee_role))
    print('---')

15:00:00
Vanessa McCarthy
Assigned to: Giorgos Dioudis [Head Chef]
---
17:30:00
Marcos Romero
Assigned to: Fatma Kaya [Assistant Chef]
---
18:00:00
Anees Java
Assigned to: John Millar [Receptionist]
---