## Making password secret

In [8]:
# Using the configparser module to keep my password secret and instead assign it to a variable
import configparser

config = configparser.ConfigParser()
config.read('config.ini')

password = config.get('mysql', 'password')

## Establishing the connection to MySQL

In [9]:
#import sql connector module and establish the connection
import mysql.connector as connector

connection = connector.connect(user='root', password=password)

In [10]:
#Create cursor
cursor = connection.cursor()

## Creating and using the database

In [11]:
# Create MySQL DB
cursor.execute('CREATE DATABASE little_lemon_db')

In [12]:
# Use DB
cursor.execute('USE little_lemon_db')

In [21]:
# Create tables in the MySQL DB

create_menuitem_table = '''CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);'''

create_menu_table = '''CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);'''

create_booking_table = '''CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);'''

create_orders_table = '''CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);'''

create_employees_table = '''CREATE TABLE Employees (
EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
Name VARCHAR(255),
Role VARCHAR(255),
Address VARCHAR(255),
Contact_Number INT,
Email VARCHAR(255),
Annual_Salary VARCHAR(255)
);'''


# Create MenuItems table
cursor.execute(create_menuitem_table)

# Create Menu table
cursor.execute(create_menu_table)

# Create Bookings table
cursor.execute(create_booking_table)

# Create Orders table
cursor.execute(create_orders_table)

# Create Employees table
cursor.execute(create_employees_table)

In [23]:
# Fill tables with data

#*******************************************************#
# Insert query to populate "MenuItems" table:
#*******************************************************#
insert_menuitems='''
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1, 'Olives','Starters',5),
(2, 'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10, 'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);'''

#*******************************************************#
# Insert query to populate "Menu" table:
#*******************************************************#
insert_menu='''
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');'''

#*******************************************************#
# Insert query to populate "Bookings" table:
#*******************************************************#
insert_bookings='''
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1, 12, 'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);'''

#*******************************************************#
# Insert query to populate "Orders" table:
#*******************************************************#
insert_orders='''
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);'''

#*******************************************************#
# Insert query to populate "Employees" table:
#*******************************************************#
insert_employees = '''
INSERT INTO employees (EmployeeID, Name, Role, Address, Contact_Number, Email, Annual_Salary)
VALUES 
(01, 'Mario Gollini', 'Manager', '724 Parsley Lane, Old Town, Chicago, IL', 351258074, 'Mario.g@littlelemon.com', '$70,000'),
(02, 'Adrian Gollini', 'Assistant Manager', '334 Dill Square, Lincoln Park, Chicago, IL', 351474048, 'Adrian.g@littlelemon.com', '$65,000'),
(03, 'Giorgos Dioudis', 'Head Chef', '879 Sage Street, West Loop, Chicago, IL', 351970582, 'Giorgos.d@littlelemon.com', '$50,000'),
(04, 'Fatma Kaya', 'Assistant Chef', '132 Bay Lane, Chicago, IL', 351963569, 'Fatma.k@littlelemon.com', '$45,000'),
(05, 'Elena Salvai', 'Head Waiter', '989 Thyme Square, EdgeWater, Chicago, IL', 351074198, 'Elena.s@littlelemon.com', '$40,000'),
(06, 'John Millar', 'Receptionist', '245 Dill Square, Lincoln Park, Chicago, IL', 351584508, 'John.m@littlelemon.com', '$35,000');
'''

# Populate MenuItems table
cursor.execute(insert_menuitems)
connection.commit()

# Populate MenuItems table
cursor.execute(insert_menu)
connection.commit()

# Populate Bookings table
cursor.execute(insert_bookings)
connection.commit()

Populate Orders table
cursor.execute(insert_orders)
connection.commit()

# Populate Employees table
cursor.execute(insert_employees)
connection.commit()

## Creating connection pools and stored procedures

In [25]:
# Import the connection pooling and errors module
from mysql.connector.pooling import MySQLConnectionPool, Error

In [31]:
# Example of how to establish that the connection works
pool = MySQLConnectionPool(pool_name='pool_a', pool_size=2, database='little_lemon_db', user='root', password=password)

try:
    for i in range(pool.pool_size):    
        connection = pool.get_connection()
        if connection.is_connected():
            cursor = connection.cursor()
            print('Connection {} Successful'.format(i + 1))
        else:
            print('No live connection made')
        connection.close()
except Error as e:
    print("Error:", e)

Connection 1 Successful
Connection 2 Successful

In [79]:
# Create stored procedure for peak hours

create_procedure_1_query = '''
CREATE PROCEDURE PeakHours()
BEGIN
    SELECT HOUR(BookingSlot) AS BookingHour, COUNT(*) AS NumBookings
    FROM Bookings
    GROUP BY BookingHour
    ORDER BY NumBookings DESC;
END'''

In [80]:
# Execute the new stored procedure
    
pool = MySQLConnectionPool(pool_name='pool_a', pool_size=2, database='little_lemon_db', user='root', password=password)

try:
    connection = pool.get_connection()
    if connection.is_connected():
        cursor = connection.cursor()
        # Run the PeakHours query
        cursor.execute(create_procedure_1_query)
        cursor.callproc('PeakHours')
        results = next(cursor.stored_results())
        dataset = results.fetchall()
        for column_id in cursor.stored_results():
            columns = [column[0] for column in column_id.description]
        print(columns)
        for data in dataset:
            print(data)
        cursor.close()
        connection.close()
    else:
        print('No live connection made')
except Error as e:
    print("Error:", e)

['BookingHour', 'NumBookings']
(19, 2)
(15, 1)
(17, 1)
(18, 1)
(20, 1)

In [90]:
# Create stored procedure for Guest Status

create_procedure_2_query = '''CREATE PROCEDURE GuestStatus()
BEGIN
    SELECT CONCAT(b.GuestFirstName, ' ', b.GuestLastName) AS GuestName,
        CASE
            WHEN e.Role IN ('Manager', 'Assistant Manager') THEN 'Ready to pay'
            WHEN e.Role = 'Head Chef' THEN 'Ready to serve'
            WHEN e.Role = 'Assistant Chef' THEN 'Preparing Order'
            WHEN e.Role = 'Head Waiter' THEN 'Order served'
        END AS OrderStatus
    FROM Bookings AS b
    LEFT JOIN Employees AS e ON b.EmployeeID = e.EmployeeID;
END;'''

In [91]:
# Execute the new stored procedure

pool = MySQLConnectionPool(pool_name='pool_a', pool_size=2, database='little_lemon_db', user='root', password=password)

try:
    connection = pool.get_connection()
    if connection.is_connected():
        cursor = connection.cursor()
        # Run the GuestStatus query
        cursor.execute(create_procedure_2_query)
        cursor.callproc('GuestStatus')
        results = next(cursor.stored_results())
        dataset = results.fetchall()
        for column_id in cursor.stored_results():
            columns = [column[0] for column in column_id.description]
        print(columns)
        for data in dataset:
            print(data)
        cursor.close()
        connection.close()
    else:
        print('No live connection made')
except Error as e:
    print("Error:", e)

['GuestName', 'OrderStatus']
('Anna Iversen', 'Ready to pay')
('Joakim Iversen', 'Ready to pay')
('Vanessa McCarthy', 'Ready to serve')
('Marcos Romero', 'Preparing Order')
('Hiroki Yamane', 'Ready to pay')
('Diana Pinto', 'Order served')